/* Base Application Styles */
body {
  color: #000;
  background: #fff;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #000;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
